.skillSet{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--color-bg);
  box-shadow: 0 0 1px 1px var(--color-bg-variant);
  overflow: hidden;
}
.skillSet p{
  font-weight: 500;
  padding: 5px;
  background: var(--color-bg-variant);
}

.stacks {
  padding: 10px 15px 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5.3rem, 1fr));
  gap: 10px;
}
.stack img{
  width: 40px;
  aspect-ratio: 1/1;
}
.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.9rem;
  box-shadow: 0 0 3px var(--color-bg-variant);
  transition: 0.55s;
}
.stack i{
  font-size: 2.1rem;
  color: #fff;
}
.stack p{
  font-size: 0.85rem;
  background: none;
}
.stack:hover{
  transform: rotate(360deg);
  background: var(--color-bg-variant);
}
#skill h2{
  margin-bottom: 30px;
}