.contact{
  width: 100%;
  padding:10% 5%;
}
.contact p{
  text-align: center;
}
.contactDetails{
  margin-top: 20px;
  text-align: center;
}
.socialInfo{
  padding: 10% 0 5%;
}
.socials{
  display: flex;
  justify-content: center;
}
.icon{
  color: var(--color-white);
  font-size: 40px;
  padding: 5px;
}